@{
    ViewData["Title"] = "Index";
}
@model ShopVM


<!-- End of Header -->
<main class="main">
    <div class="page-header"
         style="background-image: url('/Assets/images/demos/demo7/shop/page-header.jpg'); background-color: #3C63A4;">
        <h1 class="page-title ls-m">Riode Shop</h1>
        <ul class="breadcrumb pb-0">
            <li><a href="demo7.html"><i class="d-icon-home"></i></a></li>
            <li class="delimiter"><i class="fas fa-angle-right"></i></li>
            <li>Riode Shop</li>
        </ul>
    </div>
    <!-- End PageHeader -->
    <div class="page-content mb-10 pb-2">
        <div class="container-fluid">
            <div class="main-content">
                <nav class="toolbox sticky-toolbox sticky-content fix-top">
                    <div class="toolbox-left">
                        <a href="#"
                           class="toolbox-item left-sidebar-toggle btn btn-outline btn-primary btn-rounded btn-icon-right font-weight-bold">
                            Filter<i class="d-icon-arrow-right"></i>
                        </a>
                        <div class="toolbox-item toolbox-sort select-box text-dark">
                            <label>Sort By :</label>
                            <select name="orderby" class="form-control">
                                <option value="default">Default</option>
                                <option value="popularity" selected="selected">Most Popular</option>
                                <option value="rating">Average rating</option>
                                <option value="date">Latest</option>
                                <option value="price-low">Sort forward price low</option>
                                <option value="price-high">Sort forward price high</option>
                                <option value="">Clear custom sort</option>
                            </select>
                        </div>
                    </div>
                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show select-box text-dark">
                            <label>Show :</label>
                            <select name="count" class="form-control">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                        <div class="toolbox-item toolbox-layout">
                            <a href="shop-list.html" class="d-icon-mode-list btn-layout"></a>
                            <a href="shop.html" class="d-icon-mode-grid btn-layout active"></a>
                        </div>
                    </div>
                </nav>
                <div class="row cols-2 cols-md-3 cols-lg-4 cols-xl-5 product-wrapper">
                    @foreach (var item in Model.Products)
                    {

                        <div class="product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a asp-action="Detail" asp-controller="Shop" asp-route-id="@item.Id">
                                        <img src="~/@item.MainImage" alt="product" width="280"
                                             height="315">
                                    </a>
                                    <div class="product-label-group">
                                        <label class="product-label label-new">new</label>
                                    </div>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                           data-target="#addCartModal" title="Add to cart">
                                            <i class="d-icon-bag"></i>
                                        </a>
                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
                                            <i class="d-icon-heart"></i>
                                        </a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="Quick View">
                                            Quick
                                            View
                                        </a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        @if (item.ProductCategories != null)
                                        {
                                            @foreach (var items in item.ProductCategories)
                                            {
                                                <a href="demo7-shop.html">@items.Category.Name</a>
                                            }
                                        }
                                    </div>
                                    <h3 class="product-name">
                                        <a asp-action="Detail" asp-controller="Shop" asp-route-id="@item.Id">@item.Name</a>
                                    </h3>
                                    <div class="product-price">
                                        @if (item.Discount > 0)
                                        {
                                            <ins class="new-price">$@String.Format("{0:0.00}",@item.Price - (item.Price * item.Discount / 100))</ins>
                                            <del class="old-price">$@item.Price</del>
                                        }
                                        else
                                        {
                                            <ins class="new-price">$@item.Price</ins>
                                        }
                                    </div>
                                    <div>
                                        <div >
                                            @for (int i = 0; i < item.Rating; i++)
                                            {
                                                <i style="color:#D26E4B" class="fa-solid fa-star"></i>
                                            }
                                            @for (int i = 0; i < 5 -item.Rating; i++)
                                            {
                                            <i class="fa-regular fa-star"></i>
                                            }
                                        </div>
                                        <a href="demo7-product.html" class="rating-reviews">
                                            ( <span class="review-count">6</span>
                                            reviews )
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <nav class="toolbox toolbox-pagination">
                    <p class="show-info">Showing<span>1-10 of 21</span>Products</p>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                               aria-disabled="true">
                                <i class="d-icon-arrow-left"></i>Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next<i class="d-icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <aside class="col-lg-3 col-xxl-2 sidebar shop-sidebar">
                <div class="sidebar-overlay">
                    <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                </div>
                <div class="sidebar-content">
                    <div class="filter-actions mb-4">
                        <a href="#" class="sidebar-toggle-btn toggle-remain btn btn-sm btn-outline
										btn-primary btn-rounded btn-icon-right">Filter<i class="d-icon-arrow-left"></i></a>
                        <a href="#" class="filter-clean text-primary">Clean All</a>
                    </div>
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">Product Categories</h3>
                        <ul class="widget-body filter-items search-ul">
                            <li><a href="#">All Star Nike Shoes</a></li>
                            <li><a href="#">Pro Neo Extend</a></li>
                            <li><a href="#">The North Face</a></li>
                        </ul>
                    </div>
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">Filter by Price</h3>
                        <div class="widget-body">
                            <form action="#">
                                <div class="filter-price-slider"></div>

                                <div class="filter-actions">
                                    <div class="filter-price-text mb-4">
                                        Price:
                                        <span class="filter-price-range"></span>
                                    </div>
                                    <button type="submit"
                                            class="btn btn-sm btn-dark btn-filter btn-rounded">
                                        Filter
                                    </button>
                                </div>
                            </form><!-- End Filter Price Form -->
                        </div>
                    </div>
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">Size</h3>
                        <ul class="widget-body filter-items">
                            <li><a href="#">Extra Large</a></li>
                            <li><a href="#">Large</a></li>
                            <li><a href="#">Medium</a></li>
                            <li><a href="#">Small</a></li>
                        </ul>
                    </div>
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">Color</h3>
                        <ul class="widget-body filter-items">
                            <li><a href="#">Bisque</a></li>
                            <li><a href="#">Darkgrey</a></li>
                            <li><a href="#">Light Brown</a></li>
                            <li><a href="#">Light Green</a></li>
                            <li><a href="#">Sky btn-underline</a></li>
                            <li><a href="#">Yellow</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</main>
<!-- End Main -->
