@{
    ViewData["Title"] = "Default";
}

@model List<ShowCount>

<div class="category-wrap row cols-lg-4 cols-sm-2 cols-1 gutter-sm">
    @for (var i = 0; i < 4 && i < Model.Count; i++)
    {
        var item = Model[i];
        <div class="category category-absolute category-banner appear-animate mb-2"
             data-animation-options="{
                                        'name': 'fadeInLeftShorter',
                                        'delay': '.4s'
                                    }">
            <a href="#">
                <figure class="category-media">
                    <img src="@item.Image[i].MainImage" alt="category" width="468" height="320" />
                </figure>
            </a>
            <div class="category-content align-items-center x-50 w-100">
                <h4 class="category-name text-uppercase">@item.Name</h4>
                <span class="category-count text-uppercase">
                    <span>@item.Count</span> Products
                </span>
                <a href="demo7-shop.html" class="btn btn-underline btn-link">Shop Now</a>
            </div>
        </div>
    }
</div>
