<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Riode - Ultimate eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Riode - Ultimate eCommerce Template">
    <meta name="author" content="D-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Assets/images/icons/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700,800,900'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>



    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/owl-carousel/owl.carousel.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/demo7.min.css">
    @await RenderSectionAsync("styles", false);
</head>

<body class="home">

   @await Component.InvokeAsync("Header");
        <!-- End of Header -->
        @RenderBody()
    @await Component.InvokeAsync("Footer");



    <!-- Plugins JS File -->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="~/Assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="~/Assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
    <script src="~/Assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="~/Assets/js/main.min.js"></script>
    @await RenderSectionAsync("scripts", false);
</body>

</html>