@{
    ViewData["Title"] = "Update";
}
@section styles{
    <style>
        .prod-imgs {
            display: flex;
            gap: 10px;
        }

            .prod-imgs div {
                position: relative;
            }

                .prod-imgs div .x-button {
                    position: absolute;
                    top: 0;
                    right: 2.5px;
                    font-size: 20px;
                    cursor: pointer;
                    color: black;
                    background-color: white;
                    padding: 5px;
                }
    </style>
    <link href="~/Assets/select2/css/select2.min.css" rel="stylesheet" />
}

@model UpdateProductGETVM

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span style="color:red" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span style="color:red" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Price">
        <span style="color:red" asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discount">Discount</label>
        <input asp-for="Discount" class="form-control" placeholder="Discount">
        <span style="color:red" asp-validation-for="Discount"></span>
    </div>
    <div class="form-group">
        <label asp-for="StockCount">StockCount</label>
        <input asp-for="StockCount" class="form-control" placeholder="StockCount">
        <span style="color:red" asp-validation-for="StockCount"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating">Rating</label>
        <input asp-for="Rating" class="form-control" placeholder="Rating">
        <span style="color:red" asp-validation-for="Rating"></span>
    </div>
    <div class="mb-3">
        <label>Categories</label>
        <select class="slctd w-100" asp-for="ProductCategoryIds" asp-items="@ViewBag.Categories" multiple="multiple">
        </select>
        <span class="text-danger" asp-validation-for="ProductCategoryIds"></span>
    </div>
    <div class="form-group">
        <label asp-for="MainImageFile">
            <img src="~/@Model?.MainImageUrl" width="100" style="object-fit:cover" />
        </label>
        <input asp-for="MainImageFile" class="form-control" placeholder="MainImageFile">
        <span style="color:red" asp-validation-for="MainImageFile"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFiles" class="prod-imgs">
            @if (Model?.ProductImages != null)
            {
                @foreach (var item in Model.ProductImages)
                {
                    <div>
                        <a asp-action="DeleteImage" asp-route-id="@item.Id" class="x-button">x</a>
                        <img src="~/@item.Name" width="100" style="object-fit:cover" />
                    </div>
                }
            }
        </label>
        <input asp-for="ImageFiles" class="form-control" placeholder="ImageFiles">
        <span style="color:red" asp-validation-for="ImageFiles"></span>
       <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section scripts{
    <script src="~/Assets/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slctd').select2({
                maximumSelectionLength: 4
            });
        });
    </script>
    <script>
        $(".x-button").click(e => {
            e.preventDefault();
            let elem = e.target;
            console.log(elem.href);
            fetch(elem.href).then(res => {
                if (res.ok == true) {
                    elem.parentElement.remove()
                }
            })
                .catch(e => {
                    console.log(e)
                })
        })
    </script>
}




