@model RegisterVM

<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index"><i class="d-icon-home"></i></a></li>
                <li><a asp-controller="Home" asp-action="Index">Riode Shop</a></li>
                <li>My Account</li>
            </ul>
        </div>
    </nav>
    <div class="page-content mt-6 pb-2 mb-10">
        <div class="container">
            <div class="login-popup">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link border-no lh-1 ls-normal" href="#register">Register</a>
                            </li>
                        </ul>
                        <div class="tab-pane" id="register">
                            <form method="post">
                                <div class="form-group">
                                    <input class="form-control" asp-for="Name" placeholder="Your Name *" />
                                    <span style="color:red" class="text-danger" asp-validation-for="Name"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" asp-for="Surname" placeholder="Your Surname *" />
                                    <span style="color:red" class="text-danger" asp-validation-for="Surname"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" asp-for="Email" placeholder="Your Email Address *" />
                                    <span style="color:red" class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" asp-for="Username" placeholder="Your Username *" />
                                    <span style="color:red" class="text-danger" asp-validation-for="Username"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" asp-for="Password" placeholder="Your Password *" />
                                    <span style="color:red" class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" asp-for="RepeatPassword" placeholder="Confirm Password *" />
                                    <span style="color:red" class="text-danger" asp-validation-for="RepeatPassword"></span>
                                </div>
                                <div asp-validation-summary="ModelOnly" style="color:red" class="text-danger col-12"></div>
                                <button class="btn btn-dark btn-block btn-rounded" type="submit">Register</button>
                            </form>
                            <div class="form-choice text-center">
                                <label class="ls-m">or Register With</label>
                                <div class="social-links">
                                    <a href="#" class="social-link social-google fab fa-google border-no"></a>
                                    <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                    <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <partial name="_ValidationPartial" />
}